<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Insurance Calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .slideThree label {
            display: block;
            width: 34px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 1;
            background: #fcfff4;
            background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
            background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 50px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        }

        .slideThree input[type=checkbox] {
            visibility: hidden;
        }

        .slideThree input[type=checkbox]:checked + label {
            left: 43px;
        }

        .row {
            color: #00f3ff69;
        }

        .border {
            border-color: #00f3ff69;
        }

        .container-login100-form-btn .btn {
            background-color: rgba(0, 0, 0, 0.0);
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
        }

        .container-login100-form-btn .btn:hover {
            background-color: #03e9f4;
        }

        .error {
            color: red;
        }
    </style>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/newstyles.css" rel="stylesheet" type="text/css" th:href="@{/css/newstyles.css}"/>
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/calculator.css}"/>
    <style>
        body {
            background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2020/02/full-coverage-car-insurance-e1583214998417.jpg);
            background-position: center;
            background-repeat: repeat-y;
            background-attachment: scroll;
            background-size: cover;
        }
    </style>
</head>
<body style="min-width: 200px;">

<!-- Navigation-->
<div th:replace="fragments/header :: header"></div>

<!--this is the actual page-->
<header class="masthead">
    <div class="container h-100">
        <div class="login-box">
            <div class="header row">
    <span class="login100-form-title p-b-70 col-md-8"
          style="text-shadow: -6px 6px 10px rgba(116,116,116,0.6); font-size: 60px; padding-bottom: 35px; padding-top: 35px;">
		Insurance Calculator
	</span>
            </div>

            <div class="limiter center-block">
                <div class="container container-login100 center-block"
                     style="min-height: 0; position: relative; margin-left: 0">
                    <div class="wrap-login100 p-t-5 p-b-20" style="width: 60%; min-width: 350px;">
                        <div class="row">
                            <form class="login100-form validate-form calculation col-md-12" th:action="@{/calculator}"
                                  name="calculator"
                                  th:object="${calculator}" method="post">
                                <div class="border rounded"
                                     style="box-shadow: -34px 28px 39px -33px #00f3ff69;position: relative; right: 28px">
                                    <div class="row"
                                         style="width: 100%; padding-left: 25%; padding-right: 25%; position: relative; margin-left: 0;">
                                        <div class="wrap-input100 validate-input m-t-55 m-b-25"
                                             data-validate="Enter Car Make">
                                            <h5>Car Make</h5>
                                            <select name="carBrand" id="carBrand" class="input100"
                                                    th:field="*{offer.carModel.carMake}"
                                                    style="border-color: black; width: 110%"
                                                    th:required="required">
                                                <option selected value="">
                                                    Choose car make...
                                                </option>
                                                <option th:each="carBrand : ${carBrands}" th:value="${carBrand.id}"
                                                        th:text="${carBrand.name}"></option>
                                            </select>
                                            <span class="focus-input100" data-placeholder="Car Make"></span>
                                        </div>
                                        <div class="wrap-input100 validate-input m-b-25"
                                             data-validate="Enter Car Model">
                                            <h5>Car Model</h5>
                                            <select name="carModel" id="carModel" class="input100"
                                                    th:field="*{offer.carModel}"
                                                    style="border-color: white; width: 180%" th:required="required">
                                                <option disabled="disabled" selected="selected" value="">
                                                    Car Model
                                                </option>
                                            </select>
                                            <span class="focus-input100" data-placeholder="Car Model"></span>
                                        </div>
                                    </div>

                                    <div class="row"
                                         style="width: 100%;position: relative;padding-left: 25%;padding-right: 25%;margin-left: 0;">
                                        <div class="wrap-input100 validate-input m-b-25"
                                             data-validate="Cubic Capacity">
                                            <h5>Cubic Capacity</h5>
                                            <input id="cubic-capacity-field" class="input100" type="text"
                                                   name="cubicCapacity"
                                                   th:field="*{offer.cubicCapacity}" th:required="required"
                                                   style="width: 100%">
                                            <span class="focus-input100" data-placeholder="Cubic Capacity"></span>
                                            <span th:if="${#fields.hasErrors('offer.cubicCapacity')}" class="error"
                                                  th:errors="*{offer.cubicCapacity}">Cubic Capacity Error</span>
                                        </div>
                                        <div class="wrap-input100 validate-input m-b-25"
                                             data-validate="First Registration Date">
                                            <h5>First Registration Date</h5>
                                            <input id="firstRegDate" class="input100" type="date" name="firstRegDate"
                                                   th:required="required"
                                                   style="font-size: 16px" width="100%"
                                                   th:field="*{offer.firstRegistrationDate}"
                                                   th:value="${calculator.offer.firstRegistrationDate}"
                                                   required>
                                            <span class="focus-input100" data-placeholder="First Registration"></span>
                                            <span th:if="${#fields.hasErrors('offer.firstRegistrationDate')}"
                                                  th:errors="*{offer.firstRegistrationDate}">
                                    First Reg Date Error
                                </span>
                                        </div>
                                    </div>
                                    <div class="row"
                                         style="width: 100%;position: relative;padding-left: 25%;padding-right: 25%;margin-left: 0;">
                                        <div class="wrap-input100 validate-input m-b-25"
                                             data-validate="Enter if you had an accident">
                                            <h5>Accidents previous year</h5>
                                            <input class="input100" type="checkbox" name="hadAccident"
                                                   th:field="${calculator.offer.accidentPrevYear}"
                                                   style="margin: 11px;position: relative;left: 34%;height: 30px;">
                                            <span class="focus-input100" data-placeholder="Had Accident"
                                                  style="width: 78%"></span>
                                        </div>

                                        <div class="wrap-input100 validate-input m-b-25" data-validate="Enter Age">
                                            <h5>Driver Age</h5>
                                            <input id="driver-age-id" class="input100" type="text" name="driverAge"
                                                   style="width: 100%"
                                                   th:field="*{offer.driverAge}" th:required="required">
                                            <span class="focus-input100" data-placeholder="Driver Age"></span>
                                            <span th:if="${#fields.hasErrors('offer.driverAge')}" class="error"
                                                  th:errors="*{offer.driverAge}">Driver Age Error</span>
                                        </div>
                                    </div>
                                    <div class="container-login100-form-btn">
                                        <button class="btn btn-primary p-3 px-xl-4 py-xl-3"
                                                style="width: 50%; margin-left: 25%"
                                                type="submit">
                                            Calculate
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="result" class="col-md-12" th:unless="${isCreated == true or hasErrors == true}"
                 style="padding-left: 20%; padding-right: 20%;">
                <div class="row p-t-15 p-b-20"
                     style="color: transparent; text-align: center; background: #666666;-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;text-shadow: 0px 1px 1px rgba(255,255,255,0.5); position: relative; padding-left: 16.7%; padding-right: 16.7%; justify-content: center; margin:0;">
                    <hr width="100%">
                    <strong th:inline="text"
                            style="font-size: 20px; margin-left: 20px; margin-right: 20px;
}">Total Premium:</strong>
                    <strong th:inline="text"
                            style="font-size: 20px; padding-bottom: 5px">[[${calculatorResult.calculateTotalPremium()}]]
                        BGN</strong>
                    <hr width="100%">
                </div>
                <div class="container-login100-form-btn" style="position: relative; top: 33.1%;">
                    <button class="btn btn-primary p-3 px-xl-4 py-xl-3"
                            onclick="window.open('http://localhost:8080/offer');"
                            style="width: 150px; margin-left: 10%;margin-bottom: 20px" type="button">
                        Generate Offer
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>
    $('#carBrand').change(
        function () {
            $.getJSON("http://localhost:8080/calculator/models", {
                carBrandId: $(this).val(),
                ajax: 'true'
            }, function (data) {
                let html = '<option value="">Car Model</option>';
                let len = data.length;
                for (let i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                        + data[i].name + '</option>';
                }
                html += '</option>';
                $('#carModel').html(html);
            });
        });

    if ($("#result").length !== 0) {
        $('html,body').animate({
                scrollTop: $("#result").offset().top
            },
            3200);
    }

</script>

</body>
<script src="../static/js/calculator.js" th:src="@{/js/calculator.js}"></script>
</html>