<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safety Car</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <!--    my new attempt-->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>

<!-- Navigation-->
<div th:replace="fragments/header :: header"></div>

<!--this is the actual page-->
<header class="masthead">
    <div class="container h-100">
        <div class="login-box">
            <div class="container">
                <h4>USER ACCOUNT</h4>
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Edit Account</h3>
                            <div class="d-flex justify-content-end social_icon">
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/user/edit_user/user}" th:object="${userToUpdateDetails}"
                                  enctype="multipart/form-data">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" name="first_name"
                                           th:field="*{firstName}" class="form-control" placeholder="First Name">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" name="last_name"
                                           th:field="*{lastName}" class="form-control" placeholder="Last Name">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" name="phone_number"
                                           th:field="*{phoneNumber}" class="form-control" placeholder="Phone Number">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="text" name="address"
                                           th:field="*{address}" class="form-control" placeholder="Address">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="date" name="birth_date"
                                           th:field="*{birthDate}" class="form-control" placeholder="Birth Date">
                                </div>

                                <div class="row" style="width: 60%; margin: 0 auto; position: relative;">
                                    <div class="wrap-input100 validate-input m-b-25"
                                         data-validate="Attach a image" style="height: 55px">
                                        <label for="image" class="custom-file-upload login100-form-btn">
                                            <i class="fa fa-cloud-upload"></i> Reg. Certificate Image
                                        </label>
                                        <input id="image" class="input100" type="file" name="image"
                                               accept=".jpg, .jpeg, .png"
                                               th:filed="*{userImage}"
                                               style="margin: 11px;position: relative;right: 12px; height: 30px;">
                                        <label id="file-selected"
                                               style="position: relative; bottom: 50px;"></label>
                                        <span id="imageFormatError"
                                              style="display: none">File must be an image!</span>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <input type="submit" value="Save"
                                           class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Go back to Profile?<a th:href="@{/user/profile}">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>