<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safety Car</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <!--    my new attempt-->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

    <style>
        .container-login100-form-btn .btn {
            background-color: rgba(0, 0, 0, 0.0);
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
        }

        .container-login100-form-btn .btn:hover {
            background-color: #03e9f4;
        }

        .error {
            color: #ff0000;
        }
    </style>
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/header :: header"></div>
<!--this is the actual page-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="login-box">
                <form action="#" id="login-form" class="login100-form validate-form" th:action="@{/user/registration}"
                      th:object="${user}" method="post">

                    <label style="color: #b8cff082; font-size: 11px ">Username:</label>
                    <br>
                    <div class="user-box">
                        <input type="text" th:field="*{username}"/>
                        <br/>
                    </div>
                    <span class="error"
                          th:errors="*{username}"></span>
                    <br/>
                    <label style="color: #b8cff082; font-size: 11px ">Password:</label>
                    <br>
                    <div class="user-box">

                        <input type="password" th:field="*{password}"/>
                        <br/>
                    </div>

                    <span class="error"
                          th:errors="*{password}"></span>
                    <br/>
                    <label style="color: #b8cff082; font-size: 11px ">PasswordConfirmation:</label>
                    <div class="user-box">

                        <input type="password" th:field="*{passwordConfirmation}"/>
                        <br>
                    </div>
                    <br>
                    <span class="error"
                          th:errors="*{passwordConfirmation}"></span>
                    <span class="error" th:errors="${user}"></span>
                    <br/>
                    <label style="color: #b8cff082; font-size: 11px ">First name:</label>
                    <div class="user-box">
                        <input type="text" th:field="*{firstName}"/>
                        <br>
                    </div>
                    <br>
                    <span class="error"
                          th:errors="*{firstName}">Cubic Capacity Error</span>
                    <br/>
                    <label style="color: #b8cff082; font-size: 11px ">Last name:</label>
                    <div class="user-box">
                        <input type="text" th:field="*{lastName}"/>
                    </div>
                    <br>
                    <span class="error"
                          th:errors="*{lastName}"></span>
                    <br/>
                    <div class="container-login100-form-btn">
                        <button class="btn btn-primary p-3 px-xl-4 py-xl-3" style="width: 50%"
                                type="submit">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>