<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Multicriteria</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <!--    my new attempt-->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>

<!-- Navigation-->
<div th:replace="fragments/header :: header"></div>

<!--this is the actual page-->
<header class="masthead">
    <div class="container h-100">
        <div class="login-box">
            <div class="container">
                <h4>Multicriteria Table</h4>
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Edit Table</h3>
                            <div class="d-flex justify-content-end social_icon">
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/multicriteria/update/{id} (id=${table.id})}" th:object="${table}"
                                  enctype="multipart/form-data">

<!--                                <div class="input-group form-group">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>-->
<!--                                    </div>-->
<!--                                    <input type="number" name="ccMin"-->
<!--                                           th:field="*{id}" class="form-control" placeholder="id">-->
<!--                                </div>-->

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="number" name="ccMin"
                                           th:field="*{ccMin}" class="form-control" placeholder="cc min">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="number" name="ccMax"
                                           th:field="*{ccMax}" class="form-control" placeholder="cc max">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="number" name="carAgeMin"
                                           th:field="*{carAgeMin}" class="form-control" placeholder="car age min">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="number" name="carAgeMax"
                                           th:field="*{carAgeMax}" class="form-control" placeholder="car age max">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                    </div>
                                    <input type="number" name="baseAmount"
                                           th:field="*{baseAmount}" class="form-control" placeholder="base amount">
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save"
                                           class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>

<!--                        <div class="card-footer">-->
<!--                            <div class="d-flex justify-content-center links">-->
<!--                                Go back to Profile?<a th:href="@{/user/profile}">Cancel</a>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>