<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safety Car</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/newstyles.css" rel="stylesheet" type="text/css" th:href="@{/css/newstyles.css}"/>
    <!--    my new attempt-->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <style>
        .login-box {
            color: #aaebff;
            text-align: center;
        }
    </style>
</head>

<body>

<!-- Navigation-->
<div th:replace="fragments/header :: header"></div>

<!--this is the actual page-->
<header class="masthead">
    <div class="container h-100">
        <div class="login-box">
            <div class="d-flex justify-content-center h-100">
                <div class="card-header">
                    <div class="space space-4"></div>
                </div>

                <div class="card-body">


                    <div class="product-container" th:each="image : ${user.getUserImage()}">
                        <div th:if="image != null">
                            <img class='img-thumbnail'
                                 th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(user.userImage.image)}"/>
                        </div>
                    </div>

                    <div class="profile-user-info">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Username:</div>

                            <div class="profile-info-value">

                                <span th:text="${user.username}"></span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> First Name:</div>

                            <div class="profile-info-value">
                                <span th:text="${user.firstName}"></span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> Last Name:</div>

                            <div class="profile-info-value">
                                <span th:text="${user.lastName}"></span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> Phone Number:</div>

                            <div class="profile-info-value">
                                <span th:text="${user.phoneNumber}"></span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> Address:</div>

                            <div class="profile-info-value">
                                <span th:text="${user.address}"></span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> Birth Date:</div>

                            <div class="profile-info-value">
                                <span th:text="${user.birthDate}"></span>
                            </div>
                        </div>
                    </div>


                    <div class="space-20"></div>

                    <div class="card-footer" sec:authorize="isAuthenticated()">
                        <a th:href="@{/requests}" class="btn btn-primary p-3 px-xl-4 py-xl-3">User Requests</a>
                    </div>

                    <div class="card-footer" sec:authorize="isAuthenticated()">
                        <a th:href="@{/calculator}" class="btn btn-primary p-3 px-xl-4 py-xl-3">New offer</a>
                    </div>


                    <div class="card-footer" sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/edit_user/{username}(username=${user.username})}"
                           class="btn btn-primary p-3 px-xl-4 py-xl-3"
                           id="child-right">Edit Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


</body>
</html>