<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="../../static/css/calculator.css" rel="stylesheet" type="text/css" th:href="@{/css/calculator.css}"/>

</head>
<body>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
</style>
<div id="calculator" th:fragment="calculator">
    <div id="result">
        <div id="history">
            <p id="history-value"></p>
        </div>
        <div id="out-put">
            <p id="output-value"></p>
        </div>
    </div>
    <div id="keyboard">
        <button class="operator" id="clear">C</button>
        <button class="operator" id="backspace">CE</button>
        <button class="operator" id="%">%</button>
        <button class="operator" id="/">&#247;</button>
        <button class="number" id="7">7</button>
        <button class="number" id="8">8</button>
        <button class="number" id="9">9</button>
        <button class="operator" id="*">&times;</button>
        <button class="number" id="6">6</button>
        <button class="number" id="5">5</button>
        <button class="number" id="4">4</button>
        <button class="operator" id="-">-</button>
        <button class="number" id="1">1</button>
        <button class="number" id="2">2</button>
        <button class="number" id="3">3</button>
        <button class="operator" id="+">+</button>
        <button class="empty" id="empty"></button>
        <button class="number" id="0">0</button>
        <button class="empty" id="empty"></button>
        <button class="operator" id="=">=</button>
    </div>
</div>


</body>

<script src="../static/js/calculator.js" th:src="@{/js/calculator.js}"></script>


</html>