<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safety Car</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../static/css/styles.css" rel="stylesheet" type="text/css" th:href="@{../css/styles.css}"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" th:fragment="header">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" th:href="@{/}">Safety Car</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/user_profile" th:href="@{/user/profile}">User profile</a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_AGENT')"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/agent_portal" th:href="@{/agent_portal}">Agent portal</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/offer" th:href="@{/calculator}">Create Offer</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/requestpolicy" th:href="@{/calculator}" >Create Policy</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/registration" th:href="@{/user/registration}" >Sign up</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link js-scroll-trigger" href="http://localhost:8080/login" th:href="@{/login}">Login</a></li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"
                          class="nav-link js-scroll-trigger">
                        <input type="submit" value="Logout">
                    </form>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>