HTML CSS JSResult
html {
    font-family: 'open sans';
    background-color: rgba(255, 0, 0, 0.6);
}
#calculator {
    width:305px;
    height: 480px;
    background-color: #eaedef;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 100px;
}

#history {
    text-align: right;
    height:15px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#out-put {
    text-align: right;
    height: 55px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    /*380px;*/
}

.operator, .number, .empty {
    width: 46px;
    height: 46px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
}

.number, .empty {
    background-color: #eaedef;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(4) {
    background-color: #20b2aa;
    font-size: 20px;
}
button:nth-child(8) {
    background-color: #ffa500;
    font-size: 20px;
}
button:nth-child(12) {
    background-color: #f08080;
    font-size: 20px;
}
button:nth-child(16) {
    background-color: #7d93e0;
    font-size: 20px;
}
button:nth-child(20) {
    background-color: #9477af;
    font-size: 20px;
}



/*Resources1×0.5×0.25×Rerun*/